<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>showing page</title>
</head>
<body>

    {% for img in imgs %}
        <p>
            md5: {{ img.md5hex }}<br>
            size: {{ img.img_width }}x{{ img.img_height }}<br>
            local path: {{ img.img.path }}<br>
            time uploaded: {{ img.new_date | date:"D d M Y" }} {{ img.new_date | time:"H:i" }}<br>
            tag{{ img.tags.count|pluralize }}({{ img.tags.count }}):
            {% for tag in img.tags.all %}
                {% if forloop.last %}
                    {{ tag.text }}
                {% else %}
                    {{ tag.text }},
                {% endif %}
            {% endfor %}<br>
            <img src="{{ img.img.url }}" />
        </p>
    {% empty %}
        No images!
    {% endfor %}

</body>
</html>