<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>showing page</title>
</head>
<body>
{% include 'img_uploader/includes/nav.html' %}
{% if messages %}<strong>Feedback:</strong>
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
    {% endfor %}
</ul>
<hr>
{% endif %}

    {% for img in imgs %}
<p>
{% include "img_uploader/includes/block_img.html" %}
</p>
{% empty %}
        No images!
    {% endfor %}

</body>
</html>