<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ test_task.test_title }}</title>
</head>
<body>
<h1>Modify: {{ test_task.test_title }}</h1>

{% if test_task.testitem_set.count > 0 %}

<form action="{% url 'pnavi:modify' test_task.id %}" method="post">
    {% csrf_token %}
    {% for item in test_task.testitem_set.all %}
        <p><input type="checkbox" name="test_item" /> {{ item.item_text }}</p>

    {% endfor %}
    <input type="submit" value="Submit" />
</form>
{% else %}
    No test items available!
{% endif %}
</body>
</html>